.pxs-options
    display block

    .pxs-options__option
        display block
        margin 0

        &:first-child
            .pxs-options__label
                padding 15px 20px 10px
                border-radius 10px 10px 0 0
                border 1px solid $gray
        
        &:nth-child(2)
            .pxs-options__label
                padding 10px 20px 15px
                border-radius 0 0 10px 10px
                border 1px solid $gray
    
    .pxs-options__label
        display block
        position relative
        background-color $white
        cursor pointer
        transition background-color 250ms ease

        &:before
            content ''
            display block
            position absolute
            top 50%
            left 0
            width 5px
            height 0
            background-color $purple
            transform translate(0, -50%)
            transition height 250ms ease

    .pxs-options__detail
        max-height 0
        overflow hidden
        transition all 150ms linear
    
    .pxs-options__input
        display none

        &:checked + .pxs-options__content
            .pxs-options__detail
                margin 10px 0 0
                max-height 600px

            .pxs-options__label
                background-color $light_gray

                &:before
                    height 25px