.pxs-tooltip
    display inline
    position relative

    .pxs-tooltip__icon
        svg
            fill $purple

    .pxs-tooltip__description
        display none
        position absolute
        top 0
        left 25px
        padding 5px 15px
        font-size 14px
        color $white
        white-space nowrap
        background-color $purple
        border-radius 5px

        &:before
            content ''
            display block
            position absolute
            top 15px
            left -3px
            width 5px
            height 5px
            background-color $purple
            transform rotate(-45deg)

    &:hover
        .pxs-tooltip__description
            display block